@use "../../assets/css/global.scss";
.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__label {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 4px;
  }
  &__input {
    border-radius: 10px;
    padding: 12px 16px;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    &::placeholder {
      color: global.$text-input;
    }
  }
  &__error {
    font-weight: 700;
    font-size: 14px;
    color: global.$text-error;
    margin-top: 4px;
  }
}
