@use "../../assets/css/global.scss";
.button {
  padding: 12px 48px;
  height: 47px;
  gap: 10px;
  background-color: global.$text-primary;
  color: #ffff;
  border-radius: 10px;
  font-weight: 700;
  font-family: global.$font-noto-sans-tc;
  &:hover {
    background-color: #3d7e3b;
  }
  &:disabled {
    background-color: #808080;
    border: solid #808080;
  }
  &:active {
    border: ridge 6px #3d7e3b;
  }
}
