@use "../../assets/css/global.scss";

.todolist {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: global.$bg-primary;
  @include global.desktop {
    background: linear-gradient(
      172.7deg,
      #ffd370 5.12%,
      #ffd370 53.33%,
      #ffd370 53.44%,
      #ffffff 53.45%,
      #ffffff 94.32%
    );
    gap: 40px;
  }
  &__browse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
  }
  &__browse-logo {
    width: 242.51px;
    height: 38.45px;
    margin-left: 32px;
  }
  &__browse-box {
    display: flex;
    align-items: center;
    margin-right: 32px;
    gap: 32px;
  }
  &__browse-name {
    display: none;
    @include global.desktop {
      display: flex;
      font-size: 16px;
      font-weight: 700;
    }
  }
  &__browse-out {
    font-size: 14px;
    font-weight: 400;
  }
}
.add {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #00000026;
  @include global.desktop {
    width: 500px;
    justify-content: space-between;
  }

  &__input {
    width: 270px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: global.$text-input;
    margin: 12px 16px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 39px;
    border-radius: 10px;
    background-color: global.$text-primary;
    margin: 4px 4px 4px 4px;
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
  }
}

.card {
  display: block;
  justify-content: center;
  width: 312px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #00000026;
  &__tab {
    display: flex;
    text-align: center;

    font-weight: 700;
    color: global.$text-input;
  }
  &__tab-state {
    width: 104px;
    padding: 16px;
    border-bottom: solid 2px global.$text-input;
  }
}
